.main {
  height: 80vh;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maxButton {
  background-color: #151515;
  outline: none;
  border: none;
  color: gray;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.box {
  background-color: #111;
  padding: 2rem;
  border-radius: 10px;
}

.swapInputContainer {
  position: relative;
}

.swapInput {
  background-color: #191919;
  color: white;
  width: 300px;
  height: 80px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.swapInput:focus {
  border: 1px solid royalblue;
}

.toggleButton {
  height: 36px;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #151515;
  color: #ccc;
  cursor: pointer;
  margin-top: -17px;
  margin-bottom: -17px;
  z-index: 99;
}

.SwapButton {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  padding: 5px;
  width: 300px;
  height: 40px;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.SwapButton:disabled {
  background-color: #272c34;
  color: #777;
  cursor: not-allowed;
}
